body {
    background-color: #8f9ea6;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px; 
}

/* header styling*/
header {
    padding: 5px;
}

#melkweg {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

#melkweg img {
    height: auto;
    width: 100%;
}

#melkweg h1 {
    position: absolute;
    width: 100%;
    height: auto;
    color:white;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 10px;
}

/*Footer styling*/
footer {
    background-color: #2f3444;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 5px 15px 0px 15px;
    padding: 5px;
}

#copyright { 
    position: relative;
    font-size: 18px;
    color: white;  
    width: 100%;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
/*Styling - main*/

main {
    display: block;
    text-align: center;
}

.mainpara {
    width: 100%;
    height: auto;
  
}